<div class="container-contact100">
    <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/" routerLinkActive="active">
            Home
        </a>
      </div>  
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Cuarentena animal
        </span>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu11-registro-cuarentena-animal" routerLinkActive="active">
            Registro de cuarentena animal
        </a>
      </div>
    </div>
</div>