<div class="container-contact100">
    <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/" routerLinkActive="active">
            Home
        </a>
      </div>  
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Entrada y salida de animales del establecimiento
        </span>      
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu10-registro-entrada-salida-animales-establecimiento" routerLinkActive="active">
            Registro de entrada y salida de animales del establecimiento
        </a>
      </div>
    </div>
</div>
