<div class="container-contact100">
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/" routerLinkActive="active">
          Home
      </a>
    </div>
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Aspectos sanitarios en producción avícola
        </span>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu2-registro-signos-visibles-enfermedad" routerLinkActive="active">
            Registro de signos visibles de enfermedad
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu2-registro-aplicacion-productos-veterinarios" routerLinkActive="active">
            Registro de aplicación de productos veterinarios
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu2-registro-muertes" routerLinkActive="active">
            Registro de muertes
        </a>
      </div>
    </div>
  </div>
