<div class="container-contact100">
    <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/" routerLinkActive="active">
            Home
        </a>
      </div>  
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Mantenimiento de instalación de cuarentena y enfermería
        </span>        
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu5-registro-mantenimiento-instalacion-cuarentena" routerLinkActive="active">
            Registro de mantenimiento de instalación de cuarentena
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu5-registro-mantenimiento-instalacion-enfermería" routerLinkActive="active">
            Registro de mantenimiento de instalación de enfermería 
        </a>
      </div>
    </div>
</div>