<div class="container-contact100">
    <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/" routerLinkActive="active">
            Home
        </a>
      </div>  
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Toma de muestra y análisis
        </span>        
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu12-registro-toma-muestra-envio-agua-fisicoquimico" routerLinkActive="active">
            Registro de “Toma de muestra  y envío de agua para análisis fisicoquímico”
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu12-registro-toma-muestra-envio-agua-microbiologico" routerLinkActive="active">
            Registro de “Toma de muestreo y envío de agua para análisis microbiológico”
        </a>
      </div>      
    </div>
</div>