<div class="container-contact100">
    <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/" routerLinkActive="active">
            Home
        </a>
      </div>  
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Gestión de residuos
        </span>   
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu9-registro-gestiones-residuos-veterinarios" routerLinkActive="active">
            Registro de gestión de residuos veterinarios
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu9-registro-extraccion-cama-guano" routerLinkActive="active">
            Registro de extracción de cama de guano
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu9-registro-compostaje-cama-guano" routerLinkActive="active">
            Registro de compostaje de cama de guano
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu9-registro-entierro-fosa-animales-muertos-derivados" routerLinkActive="active">
            Registro de entierro en fosa de animales muertos y derivados
        </a>
      </div>            
    </div>
</div>