<div class="container-contact100">
    <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/" routerLinkActive="active">
            Home
        </a>
      </div>  
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Aspectos sanitarios en producción porcina
        </span>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu1-registro-alta-baja-reproductores" routerLinkActive="active">
            Registro de alta y baja de reproductores
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu1-registro-servicios" routerLinkActive="active">
            Registro de servicios
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu1-registro-control-preniez" routerLinkActive="active">
            Registro de control de preñez
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu1-registro-parto-nacimiento" routerLinkActive="active">
            Registro de partos y nacimientos
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu1-registro-muertes" routerLinkActive="active">
            Registro de muertes
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu1-registro-signos-visibles-enfermedad" routerLinkActive="active">
            Registro de signos visibles de enfermedad
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu1-registro-aplicacion-productos-veterinarios" routerLinkActive="active">
            Registro de aplicación de productos veterinarios
        </a>
      </div>
    </div>
  </div>