<div class="container-contact100">
    <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/" routerLinkActive="active">
            Home
        </a>
      </div>  
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Mantenimiento de instalación productiva avícola de recría/engorde y terminación
        </span>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu4-registro-mantenimiento-instalacion-recria" routerLinkActive="active">
            Registro de mantenimiento de instalación de recría/engorde
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu4-registro-mantenimiento-instalacion-terminacion" routerLinkActive="active">
            Registro de mantenimiento de instalación de terminación
        </a>
      </div>
    </div>
</div>
