<div class="container-contact100">
    <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/" routerLinkActive="active">
            Home
        </a>
    </div>    
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Registro de capacitación
        </span>      
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu13-registro-capacitacion" routerLinkActive="active">
            Registro de capacitación
        </a>
      </div>
    </div>
</div>