<div class="container-contact100">
  <div class="wrap-contact100">
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/aspecto-sanitario-produccion-porcina-home" routerLinkActive="active">
        Aspectos sanitarios en producción porcina
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/aspecto-sanitario-produccion-avicola-home" routerLinkActive="active">
        Aspectos sanitarios en producción avícola
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/mantenimiento-instalacion-productiva-porcina-home" routerLinkActive="active">
        Mantenimiento de instalación productiva porcina
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/mantenimiento-instalacion-productiva-avicola-terminacion-home" routerLinkActive="active">
        Mantenimiento de instalación productiva avícola de recría/engorde y terminación
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/mantenimiento-instalacion-cuarentena-enfermeria-home" routerLinkActive="active">
        Mantenimiento de instalación de cuarentena y enfermería
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/visitas-veterinarias-eventuales-home" routerLinkActive="active">
        Visitas veterinarias y eventuales
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/identificacion-ubicacion-trampas-roedores-home" routerLinkActive="active">
        Identificación y ubicación de trampas para roedores
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/insumos-home" routerLinkActive="active">
        Insumos
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/gestion-residuos-home" routerLinkActive="active">
        Gestión de residuos
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/entrada-salida-animales-establecimiento-home" routerLinkActive="active">
        Entrada y salida de animales del establecimiento
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/cuarentena-animal-home" routerLinkActive="active">
        Cuarentena animal
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/toma-muestra-analisis-home" routerLinkActive="active">
        Toma de muestra y análisis
      </a>
    </div>
    <div class="button_cont" align="center">
      <a class="example_c"  rel="nofollow noopener"   routerLink="/registro-capacitacion-home" routerLinkActive="active">
        Registro de capacitación
      </a>
    </div>
  </div>
</div>