<div class="container-contact100">
    <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/" routerLinkActive="active">
            Home
        </a>
      </div>  
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Insumos
        </span>         
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu8-registro-insumos-alimentarios" routerLinkActive="active">
            Registro de insumos alimentarios
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu8-registro-insumos-veterinarios" routerLinkActive="active">
            Registro de insumos veterinarios 
        </a>
      </div>
      <div class="button_cont" align="center">
        <a class="example_c"  rel="nofollow noopener"   routerLink="/menu8-registro-insumos-limpieza-desinfeccion" routerLinkActive="active">
            Registro de insumos para limpieza/desinfección 
        </a>
      </div>      
    </div>
</div>
